node_modules
dist
.next
.vercel
.turbo
pnpm-lock.yaml
package-lock.json
yarn.lock

# Let Biome handle these files
**/*.js
**/*.jsx
**/*.ts
**/*.tsx
**/*.json

# Let Prettier handle Astro files
# Prettier will only process Astro files 